<!DOCTYPE html>
<html>
<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <!--for three emojis in rating-->
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">

  <link type = "text/css" rel="stylesheet" href="css/style.css">
  <link type = "text/css" rel="stylesheet" href="css/navbarstyle.css">
  <link type = "text/css" rel="stylesheet" href="css/item.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/explore.js"></script>
  <script type="text/javascript" src="../js/rate.js"></script>

  <title>FOODme</title>
</head>

  <body>

    <!-- Menu Bar -->
    <div id="footer">
      <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
          <div class="col-xs-3 text-center"><a href="/exp"><i class="glyphicon glyphicon-globe"></i><br><p>Explore</p></a></div>
          <div class="col-xs-3 text-center"><a href="/bookmarks"><i class="glyphicon glyphicon-bookmark"></i><br><p>Bookmarks</p></a></div>
          <div class="col-xs-3 text-center"><a href="/friends"><i class="fa fa-users"></i><br><p>Friends</p></a></div>
          <div class="col-xs-3 text-center"><a href="/profile"><i class="glyphicon glyphicon-user"></i><br><p>Profile</p></a></div>
        </div>
      </div>
    </div>


    <!-- Menu Bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="nav pull-left"><span class="glyphicon glyphicon-chevron-left" onclick="goBack()"></span></a>
            <script>
              function goBack() {
                window.history.back();
              }
            </script>
          <a class="navbar-brand" href="/exp">FOODme</a>

          <a href="/upload" class="dropdown-item nav pull-right"><span class="glyphicon glyphicon-edit"></span><p>Review</p></a>
        </div>
      </div>
    </nav>


   <div id = "container-fluid">

    <!--go back to explore food-->
    <div>
      <a href = "#bmk_confirm" id = "book_button" data-rel = "popup"><button>Bookmark</button></a>
    </div>

    <!--review page for specific dish after clicking on image-->
    <div id = "dish_info">
      <div class="row">
        <div class="col-xs-5 leftSide">
          <img src = "../{{imgURL}}" id = 'dishIMG'/>
          <div id = "faces">
            <div><i class = "em em-disappointed" id = "ab"></i><p  id = "dis">{{dis}}</p></div>
            <div><i class = "em em-confused" id = "ab"></i> <p  id = "meh">{{meh}}</p></div>
            <div><i class = "em em-smiley" id = "ab"></i><p  id = "yay">{{yay}}</p></div>
          </div>
        </div>
        <div class="col-xs-6 rightSide">
          <p id = "restaurantName">{{restaurantName}}</p>
          <p id = "dish_name">{{name}}</p>
          <p id = "address">Address here</p>
        </div>
      </div>

      <!--dislay good and bad hashtags-->

      <div class="col-xs-12">
        <ul class="list-group" id="hastags">
          <li class="list-group-item">
            <div class = "ups">
              <div><span class="label label-default"><i class = "em em-thumbsup" class = "thumbs"></i>&nbsp;Likes</span></div><br><br>
              <span class="label label-primary"><div id = "u1">{{u1}}</div></span>
              <span class="label label-info"><div id = "u2">{{u2}}</div></span>
              <span class="label label-info"><div id = "u3">{{u3}}</div></span>
              <div id = "u4">{{u4}}</div>

              <!--
              {{#each dishes}}
                {{#each ups}}
                  <span class="label label-info">{{this}}</span>
                {{/each}}
              {{/each}}
            -->

            </div>
          </li>
          <li class="list-group-item">
            <div class = "downs">
              <div><span class="label label-default"><i class = "em em-thumbsdown" class = "thumbs"></i>&nbsp;Dislikes</span></div><br><br>
              <span class="label label-danger"><div id = "d1">{{d1}}</div></span>
              <span class="label label-warning"><div id = "d2">{{d2}}</div></span>
              <span class="label label-warning"><div id = "d3">{{d3}}</div></span>
              <div id = "d4">{{d4}}</div>
            </div>
          </li>
        </ul> <!--end of hashtag ratings-->
      </div>
    </div>
    <div id = "rate_btn">
        <a href = '/rate'><button>RATE IT</button></a>
    </div>

  </div> <!--end of container-->

  </body>
</html>
